[package]
name = "radroots-identity"
version.workspace = true
edition.workspace = true
authors = ["triesap npub1tr33s4tj2le2kk9yzhfphdtss26gyn8kv7savnnjhj794nqp333q8e7grr"]
rust-version.workspace = true
license.workspace = true

[features]
default = ["std"]
std = ["dep:radroots-runtime"]

[dependencies]
radroots-runtime = { workspace = true, optional = true }
radroots-events = { workspace = true, default-features = false, features = ["serde"] }
nostr = { workspace = true, features = ["os-rng"] }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
